@import '../../sass/index';

.button{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.55556;
    color: $text-color;

    font-family: var(--font-family);
    border: none;
    border-radius: 12px;
    padding: 16px ;
    width: 183px;
    height: 60px;
    background-color: $yelow-color;
    transition: background 0.3s ease;
    margin-top: 30px;

    &:hover{
    background-color: $ligthYelow-color;
    }
}
