@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}


$white-color: #fff;
$text-color: #121417;
$text-span-color: #8a8a89;
$yelow-color: #F4C550;
$ligthYelow-color: #FBE9BA;
$green-color: #9FBAAE;
$ligthGreen-color: #CBDED3;
$blue-color: #9FB7CE;
$ligthBlue-color: #BFD6EA;
$rose-color: #E0A39A;
$ligthRose-color: #F2C0BD;
$orange-color: #F0AA8D;
$ligthOrange-color: #F4C8BA;
$fluo-color: #38cd3e;

